<a href="https://colab.research.google.com/github/Drago-Narmadi/HandsOn-Programing/blob/main/Programming%20in%20R(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Decision Making

In [1]:
x <- 24
if (x > 10){
    print("x is greater than 10")
}

[1] "x is greater than 10"

In [3]:
x <- 42
if(x>=100){
  print('x is big')
}else{
  print(" x is less than 100")
}

[1] " x is less than 100"

In [4]:
num <- 3
if (num == 1){
  print("one")
}else if (num==2){
print("two")
}else if (num==3){
print("three")
}else{
  print("Something else")
}

[1] "three"

Logical Operators

In [5]:
#AND
x <- 6
y <- 2
if (x>y & x<10){
  print("Yes")
}

[1] "Yes"

In [8]:
#OR
x <- 6
x <- 2
if(x>y | x>100){
  print("Yes")
}else{
  print("No")
}

[1] "No"

In [9]:
#NOT
x <- TRUE
print(!x)

[1] FALSE

In [10]:
(((15 > 4) & (8 < 9)) | (4 > 6))

[1] TRUE


R provides a switch statement to test an expression against a list of values and makes the code much shorter, compared to using else if statements.

In [11]:
num <- 3
result <- switch(
  num,
  "One",
  "Two",
  "Three",
  "Four"
)
print(result)

[1] "Three"

In [14]:
x <- "c"
result <- switch(
  x,
  "a" = "One",
  "b" = "Two",
  "c" = "Three",
  "d" = "Four"
)
print(result)

[1] "Three"

In [15]:
state <- readLines('stdin')
x <- state[1]
result <- switch(
    x,
    "CA"= "California",
    "NY"= "New York",
    "FL" = "Florida",
    "OH" ="Ohio"
)
print (result)

NULL

Loops

In [16]:
i <- 1
while (i<10){
  print(i)
  i<- i+1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [17]:
x <- 10
while(x > 0) {
  print(x)
  x <- x - 2
}

[1] 10
[1] 8
[1] 6
[1] 4
[1] 2

In [18]:
for (x in 1:10){
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [19]:
sum <- 0
for (i in 1:1000) {
  if (i %% 3 == 0) {
    sum <- sum + i
  }
}
print(sum)

[1] 166833

break/next

In [20]:
i <- 8
while (i>0){
  print(i)
  i<-i-1
  if(i==4){
    break
  }
}

[1] 8
[1] 7
[1] 6
[1] 5

In [21]:
i <- 1
while(i < 5) {
  print(i)
  i <- i + 1
  if(i == 3) {
    break
  }
}

[1] 1
[1] 2

In [22]:
for (x in 1:15){
  if (x==13){
    next
  }
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 14
[1] 15