<a href="https://colab.research.google.com/github/Drago-Narmadi/HandsOn-Programing/blob/main/Python%20Classes%20and%20Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
class MyClass:
  x=1
c1= MyClass()
print(c1)
print(c1.x)

<__main__.MyClass object at 0x7f2cdcb76ef0>
1

In [8]:
class MyClass:
  x=input("Enter some thing :")
c1= MyClass()

print(c1.x)

Enter some thing :5
5

In [17]:
class  car:
  Model =("Nissan")
  Year =("2004")

c1=car()
print(c1.Model)
print(c1.Year)
c1.Model="Toyota"
print(c1.Model)

Nissan
2004
Toyota

In [18]:
class MyClass:
  x=input("Enter some thing :")
  y=input("Enter some thing :")

c1= MyClass()

print(c1.x)
print(c1.y)

Enter some thing :5
Enter some thing :6
5
6

In [23]:
class  car:
  Model =input("Enter car Model:")
  Year =input("Enter year: ")


c2=car()
print(c2.Model,",",c2.Year)

Enter car Model:lll
Enter year: 555
lll , 555

In [26]:
class car:
  def __init__(self) :
    print("Object created")
    model = "Nissan"
    year=2004
  model="__"
  year=0

c1 = car()
print(c1.model)
print(c1.year)

Object created
__
0

In [27]:
class car:
  def __init__(self) :
    print("Object created")
    model = "Nissan"
    year=2004
  model="__"
  year=0

c1 = car()
c2 = car()

Object created
Object created

In [28]:
class car:
  def __init__(self) :
    self.model = "Nissan"
    self.year=2004
  model="__"
  year=0

c1 = car()
print(c1.model)
print(c1.year)

Nissan
2004

In [31]:
class car:
  def __init__(self,m,n) :
    self.model = m
    self.year = n

c1 = car("Toyota",2004)
c2 = car("Nissan",2005)
print(c1.model)
print(c2.year)

Toyota
2005

In [33]:
class Home:
  def __init__(self,nbe,nbt,si):
    self.no_bedrooms = nbe
    self.__no_bathroom = nbt
    self.size=si

h1=Home(5,3,100)
print(h1.__no_bathroom)

AttributeError: ignored

In [41]:
class Home:
  def __init__(self,nbe,nbt,si):
    self.no_bedrooms = nbe
    self.__no_bathroom = nbt
    self.size=si

  def show_no_bathrooms(self):
    return self.__no_bathroom

  def show_no_bedrooms(self):
    return self.no_bedrooms

h1=Home(5,3,100)
print(h1.show_no_bathrooms())
print(h1.show_no_bedrooms())

3
5

In [42]:
class Home:
  def __init__(self,nbe,nbt,si):
    self.no_bedrooms = nbe
    self.__no_bathroom = nbt
    self.size=si

  def show_no_bathrooms(self):
    return self.__no_bathroom

  def show_no_bedrooms(self):
    return self.no_bedrooms

h1=Home(5,3,100)
print(h1.show_no_bathrooms())
print(h1.show_no_bedrooms())
print(h1)

3
5
<__main__.Home object at 0x7f2cafcb4640>

In [43]:
class Home:
  def __init__(self,nbe,nbt,si):
    self.no_bedrooms = nbe
    self.__no_bathroom = nbt
    self.size=si

  def show_no_bathrooms(self):
    return self.__no_bathroom

  def show_no_bedrooms(self):
    return self.no_bedrooms

  def __str__(self):
    return "Hello"

h1=Home(5,3,100)
print(h1.show_no_bathrooms())
print(h1.show_no_bedrooms())
print(h1)

3
5
Hello