<a href="https://colab.research.google.com/github/Drago-Narmadi/HandsOn-Programing/blob/main/R%20Introduction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
message <- "This is called \"escaping\"."
print (message)
cat (message)

[1] "This is called \"escaping\"."
This is called "escaping".

Basic Maths

In [2]:
x <- 11
y <- 4
 #addition
 print(x+y)
 
 #subtraction
 print(x-y)

 #multiplication
 print(x*y)

 #division
 print(x/y)

 #exponentation
 print(x^y)
 print(x**y)

 #modulus (reminder from division)
 print(x%%y)

 #integer division
 print(x%/%y)

[1] 15
[1] 7
[1] 44
[1] 2.75
[1] 14641
[1] 14641
[1] 3
[1] 2

Math Functions

In [3]:
a <- 8
b <- 12
print(min(a,b))
print(max(a,b))

print(sqrt(64))

[1] 8
[1] 12
[1] 8

In [ ]:
Booleans

In [4]:
x <- 14
print(x > 20)

[1] FALSE

In [5]:
x <- 42
print(x >= 8)
print(x <24)
print(x == 42)
print(x !=42)

[1] TRUE
[1] FALSE
[1] TRUE
[1] FALSE

Taking Input

In [8]:
input <- readLines('stdin')
print(input[2])

[1] NA

In [9]:
input <- readline('stdin')
x<- input[1]
x <- as.integer(x)
print(x*2)

stdin2
[1] 4

In [14]:
input <- readline('stdin')
x<- input[1]
x <- as.integer(x)
print(x*2)

stdingg

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

Output

In [15]:
x <- "hello\nthere!"
print(x)
cat(x)

[1] "hello\nthere!"
hello
there!